html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Mulish";
  color: #fff;
  font-size: 16px;
  font-weight: 400px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-weight: 400;
  margin: 0;
}

.btn-reset {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  line-height: 97.263%; /* 22.37px */
  padding: 26px 55px;

  border-radius: 10px;
  background-color: #df3c43;
  transition: box-shadow 0.3s ease-in-out;
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  outline: 2px dashed #df3c43;
  outline-offset: 3px;
  background-color: #5f1b1f;
}

.btn:hover {
  background-color: #df3c43;
  box-shadow: 0px 4px 15px 0px #ff000b;
}

.btn:active {
  outline: none;
  background-color: #c0353c;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 46px;
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 50px;
}

.nav__link {
  transition: color 0.3s ease-in-out;
}

.nav__link:focus,
.phone:focus,
.mail:focus {
  outline: none;
}

.nav__link:focus-visible,
.phone:focus-visible,
.mail:focus-visible {
  outline: 2px dashed #df3c43;
  outline-offset: 3px;
}

.nav__link:hover,
.phone:hover,
.mail:hover {
  color: #df3c43;
}

.nav__link:active,
.phone:active,
.mail:active {
  outline: none;
  background-color: transparent;
}

.phone {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  font-weight: 700;
}

.header__phone svg {
  width: 20px;
  height: 20px;
}

/* HERO */
.hero {
  background: linear-gradient(
      179deg,
      rgba(0, 0, 0, 0.65) 45.12%,
      rgba(0, 0, 0, 0) 98.75%
    ),
    url("../img/hero/bg-hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.hero__content {
  position: relative;
  max-width: 1110px;
  min-height: 513px;
  padding-top: 237px;
  padding-bottom: 237px;
}

.hero__text {
  position: relative;
  z-index: 8;
}

.hero__title {
  position: relative;
  max-width: 702px;
  font-size: 60px;
  font-weight: 700;
  line-height: 97.263%; /* 58.358px */
  margin-bottom: 30px;
}

.hero__desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%; /* 26px */
  margin-bottom: 30px;
}

.hero__img {
  position: absolute;
  right: -10%;
  bottom: 0px;
  width: 556px;
  height: 883px;
  background-image: url("../img/hero/girl-hero.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

/* SERVICES */
.services {
  background: #f2f2f2;
  padding: 126px 0;
}
.services__title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.services__card {
}

.services__img {
  width: 100%;
  max-width: 360px;
  min-height: 460px;
  border-radius: 10px;
}

.services__inner {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.accordion__item {
  max-width: 720px;
  min-height: 80px;
}

.accordion__item:not(:last-child) {
  margin-bottom: 15px;
}

.accordion__control {
  width: 100%;
  min-height: 80px;
  padding: 21px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  background: #fff;
  cursor: pointer;
}

.accordion__icon svg {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.open .accordion__icon svg {
  transform: rotate(45deg);
}

.accordion__name {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.accordion__desc {
  color: #696969;
  font-size: 20px;
  padding: 20px 30px;
  line-height: 130%; /* 26px */
}

.accordion__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.3s ease-out;
  box-sizing: content-box;
  background-color: #fff;
  border-radius: 10px;
}

.open .accordion__content {
  opacity: 1;
}

/* CONTACT */
.contact {
  margin: 0 auto;
  background: #1c232b;
  position: relative;
  z-index: 1;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-contact-us.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.contact__content {
  padding: 106px 0px;
}

.contact__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 37px;
}

.contact__wrapp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 45px;
}

.contact__mail {
  font-size: 20px;
  line-height: 97.263%; /* 19.453px */
}

.mail {
  display: flex;
  align-items: center;
  gap: 6px;
}

.mail svg {
  width: 23px;
  height: 18px;
}

/* FOOTER */
.footer {
  background: #1c1c1c;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0px;
}

/* MEDIA */
@media (max-width: 767px) {
  .header__container {
    flex-direction: column;
    gap: 10px;
  }

  .nav {
    margin-left: 0;
  }

  .nav__list {
    margin-right: 0;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__img {
    display: none;
  }

  .btn {
    font-size: 18px;
  }

  .services__inner {
    flex-wrap: wrap;
  }

  .services__img {
    display: none;
  }

  .footer__container {
    flex-direction: column;
    gap: 15px;
  }
}
